@inject Exchangeservice Exchangeserive
@inject HttpClient http

<h3>ExchnageChildComponent</h3>

@code {
    public Exchange? Exchange;
    public string? UserSelection;
    public string? Symbols;
    public string? errormessages;



}
