@page "/"
@inject Numberver Numberver

<PageTitle>Home</PageTitle>

<h3 style="margin-top: 5%;">Välkommen, @Numberver.CurrectUser.Name!</h3>

<p style="margin-top: 1%;">Email: @Numberver.CurrectUser.Email</p>
